/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --background-image: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      rgba(0, 0, 0, 0) 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0 2px,
      rgba(0, 0, 0, 0) 2px 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);

  --background-color: #fff;
  --main-color: #000;
  --photo-text-color: #fff;
  --line-color: #fff;
  --main-font-family: "Inter-Variable", sans-serif;
  --title-font-family: "PressStart2P", fantasy;
  --title-font-weight: 700;
  --main-font-weight: 400;
  --color-push-heart: #ff0000;
  --color-heart: #000;
  --none-heart: rgba(256, 0, 0, 0);
  --border-bottom: #000;
  --main-font-size: 18px;
  --text-color: #fff;
}
